{
  "nodes": [
    {
      "parameters": {
        "options": {
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "27283b74-1bc2-435f-9f2b-5e4c965029c5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        240
      ],
      "id": "998a50a6-6313-44ff-9107-9f3b77c24e24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3rm7IpRhCi6HfjZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "path": "7dbc2954-3090-4045-82b3-00249366546a",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "0d5e9864-cc1d-4731-83fc-2d640b1abf61",
      "name": "Webhook",
      "webhookId": "7dbc2954-3090-4045-82b3-00249366546a"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3ee9b14919004fc5f1d3cb3d8d1e32a07f04fc1257a1e05079553f168c372d6"
  }
}
